/* yellow color css */
.preloader .loader i,
.btn-1:hover,
.people-section .people-item-inner .social-links a i,
.event-section .event-item-inner span,
.story-section .story-item i,
.story-section .story-text h3,
.coouple-section .social-links a i,
.coouple-section .couple i.fa-heart,
.coouple-section .couple h3,
body.dark .header .nav ul li a.active,
.header .nav ul li a.active,
body.dark .header .nav ul li a:hover,
.header .nav ul li a:hover{
    color: #ff9800;
}

.btn-1,
.people-section .people-item-inner .social-links a i,
.event-section .event-item-inner::before,
.coouple-section .social-links a i,
.coouple-section .couple img{
    border-color:#ff9800;
}
.preloader .loader:before{
    border-right-color: #ff9800;
}
.colors-setting .s-toggle-btn,
.btn-1,
.rsvp-section,
.people-section .people-item-inner .social-links a:hover i,
body.dark .people-section .filter-btn.active,
.people-section .filter-btn.active,
.event-section,
.coouple-section .social-links a:hover i{
    background-color: #ff9800;
}

.event-section .event-item-inner img,
.footer .footer-content .couple-name img{
	filter: hue-rotate(45deg);
}

